<%- include('layouts/header') %> <%- include('layouts/nav') %>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/bulan1.jpg" alt="Muhammad Gifa Algifari" class="img-thumbnail rounded-circle" width="100px">
      <h1 class="display-4">Muhammad Gifa Algifari</h1>
      <p class="lead">Student</p>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>
